/**
 * Dialog of milkui__component
 * @author caiyongmin
 *
 * Copyright 2017-2019, All rights reserved.
 */

.demo__panel {
  padding: 0 25px;
}

.demo__title {
  margin-top: 20px;
  font-size: 60px;
}

.demo__description {
  margin-top: 15px;
  font-size: 26px;
  color: #3b3b3b;
}

.demo__item {
  margin-top: 20px;
}

.milkui__btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 34px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 2.55555556;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  cursor: pointer;
}

.milkui__btn_default {
  color: #000;
  background-color: #f8f8f8;
  border-color: rgba(0,0,0,.2);
}
